/*
    Main Palette
        Dark Blue: #36424E
        Grey: #90979F
        Blue Grey: #A7B9D1
        Light Blue: #BACEE6
        White: #F3FDFE
    Complementary Colors
        Milk Chocolate: #897653
        Light Tan: #E6D6BA
    Forms
        Background: #E3EBF5;
        Border: #36424E;
        Text: #36424E

    https://color.adobe.com/inspiration-color-theme-10819633/?showPublished=true

    Fonts
        Font-Family: 'Lato', Sans-Serif;
        Font-Family: 'Catamaran', Sans-Serif;

    <link href="https://fonts.googleapis.com/css?family=Catamaran|Lato:400i" rel="stylesheet">

    border: 1px solid black;
*/


body {
    background-color: #A7B9D1;
}

.borderOrange {
    border: 1px solid orange;
}

.top {
    width: 100%;
    height: 20px;
    background-color: #36424E;
    border-bottom: 4px solid #897653;
}

.headerStyle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #897653;
    background-color: white;
}

#signatureImage {
    width: 50%;
    height: 50%;
    margin: .5em;
}

.linkedinIcon{
    margin: auto 10%;
    text-decoration: none;
}

.linkedinIcon:hover{
    text-decoration: none;
}

.content {
    margin: 1em 2em;
    padding: 1em;
    background-color: #fff;
    border: 4px solid #897653;
    overflow: auto;
}

.image1 {
    float: left;
    margin: .5em 1.5em .5em .5em;
    border: 4px solid #897653;
}

p {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
    padding: .25em;
}

#contact {
    margin: 2em;
}

.portfolioButton {
    background-color:#897653;
    border: 1px solid #897653
}

.portfolioButton:hover {
    color: #897653;
    background-color:#E6D6BA;
    border: 1px solid #897653
}

#projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#projectList {
    width: 100%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #36424E;
}

.subitem {
    background-color: #BACEE6;
    color: #36424E;
}

#screenshot {
    max-width: 40%;
    max-height: 40%;
    margin: auto;
}

/* Footer All Pages */

.footer {
    width: 100%;
    height: 50px;
    border-top: 4px solid #E6D6BA;
    background-color: #36424E;
}

.copyRightStyle {
    font-family: Catamaran, Arial, sans-serif;
    font-size: 12pt;
    color: #F3FDFE;
    margin: 12px 20px;
}

@media screen and (max-width: 1200px) and (min-width: 900px) {

    .headerStyle {
        justify-content: space-evenly;
    }

    #signatureImage {
        width: 25%;
        height: 25%;
    }
    
}

@media screen and (max-width: 1800px) and (min-width: 1200px) {

    .headerStyle {
        justify-content: space-evenly;
    }

    #signatureImage {
        width: 20%;
        height: 20%;
    }
}

@media screen and (max-width: 2200px) and (min-width: 1800px) {

    .headerStyle {
        justify-content: space-evenly;
    }

    #signatureImage {
        width: 15%;
        height: 15%;
    }
}



